<!-- 分頁元件 -->
{{ $paginator := .Paginator }}
{{ if gt $paginator.TotalPages 1 }}
<div class="flex justify-between items-center mt-12">
    <div>
        {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}" class="font-semibold" style="color: var(--link-color);">&larr; 較新文章</a>
        {{ end }}
    </div>
    <div class="text-sm" style="color: var(--text-secondary);">
        頁數 {{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}
    </div>
    <div>
        {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}" class="font-semibold" style="color: var(--link-color);">較舊文章 &rarr;</a>
        {{ end }}
    </div>
</div>
{{ end }}
